.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loaderText {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #323232;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid white;
  border-bottom-color: #ff9f24;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
